* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f9f5eb;
}

.heading-1 {
    color: grey;
    line-height: 1.3;
    font-size: 16px;
    margin: auto;
}

h2 {
    font-size: 30px;
    font-family: 'Fraunces';
    font-weight: bold;
    margin: 7px 0 7px 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

@media screen and (max-width: 500px) {
    .container {
        padding: 20px;
    }

    .box {
        width: 100%!important;
        flex-direction: column;
    }

    .image {
        height: 250px;
        border-bottom-left-radius: unset !important;
        border-top-right-radius: 8px;
        object-fit: cover;
        width: 100%!important;
    }

    .attribute {
        width: 100%!important;
    }
}


.box {
    background-color: #ffffff;
    border-radius: 3%;
    box-shadow: 10px 10px 8px #ccc;
    display: flex;
    margin-bottom: 10px;
}

.attribute {
    width: 300px;
    padding: 20px;
}

.image {
    width: 300px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.intro {
    margin: 9px 0 15px 0;
    line-height: 1.6;
    font-size: 14px;
    color: grey;
    font-family: 'Montserrat';
}

.doller {
    font-size: 30px;
    font-family: "Fraunces";
    color: #0a5e4f;
    padding-right: 20px;
}

.dol {
    font-size: 14px;
    color: grey;
    font-family: "Montserrat";
}



.btn {
    background: #0a5e4f;
    background-image: -webkit-linear-gradient(top, #0a5e4f, #0b5749);
    background-image: -moz-linear-gradient(top, #0a5e4f, #0b5749);
    background-image: -ms-linear-gradient(top, #0a5e4f, #0b5749);
    background-image: -o-linear-gradient(top, #0a5e4f, #0b5749);
    background-image: linear-gradient(to bottom, #0a5e4f, #0b5749);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 7px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 15px 70px 15px 45px;
    text-decoration: none;
    width: 100%;
    margin-top: 10px;
}

.btn:hover {
    background: #0b8f77;
    background-image: -webkit-linear-gradient(top, #0b8f77, #217364);
    background-image: -moz-linear-gradient(top, #0b8f77, #217364);
    background-image: -ms-linear-gradient(top, #0b8f77, #217364);
    background-image: -o-linear-gradient(top, #0b8f77, #217364);
    background-image: linear-gradient(to bottom, #0b8f77, #217364);
    text-decoration: none;
}

.pricing{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* .btn{
    padding: 15px 20px;
    width: 100%;
    margin: 10px 0 0 0;
    background: green;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.btn svg{
    margin-right: 10px;
}
